trigger:
  branches:
    include:
      - main
      - develop

schedules:
  - cron: "0 2 * * 1-5"
    displayName: Weekdays 2AM run
    branches:
      include:
        - main
    always: true


pool:
  vmImage: "ubuntu-latest"

variables:
  PYTHON_VERSION: "3.12"

steps:

  - task: UsePythonVersion@0
    inputs:
      versionSpec: "$(PYTHON_VERSION)"
    displayName: "Use Python $(PYTHON_VERSION)"

  - script: |
      python -m pip install --upgrade pip
    displayName: "Upgrade pip"

  - script: |
      pip install -r requirements.txt
    displayName: "Install requirements"

  - script: |
      pip install pre-commit
      pre-commit run --all-files
    displayName: "Run pre-commit checks"

  - script: |
      playwright install --with-deps
    displayName: "Install Playwright browsers"

  - script: |
      pytest -n auto \
      --browser chromium \
      --headless \
      --dist loadscope \
      --junitxml=zz_temp/xunit/results.xml
    displayName: "Run pytest"

  - task: PublishBuildArtifacts@1
    condition: always()
    inputs:
      PathtoPublish: "$(System.DefaultWorkingDirectory)/artifacts"
      ArtifactName: "test-artifacts"
      publishLocation: "Container"
    displayName: "Publish artifacts"

  - task: PublishTestResults@2
    displayName: "Publish JUnit Results"
    condition: always()
    inputs:
      testResultsFormat: "JUnit"
      testResultsFiles: "zz_temp/xunit/results.xml"
      failTaskOnFailedTests: true
      testRunTitle: "Pytest Results"
