# pytest
pytest==9.0.2
pytest-xdist==3.8.0
pytest-playwright==0.7.2

# clients
requests==2.32.5
playwright==1.58.0

# util
dotenv==0.9.9
assertpy==1.1
pydantic==2.12.5

# formatting
black==26.1.0
pylint==4.0.4
autoflake==2.3.1
pre_commit==4.5.1

# typing
types-requests==2.31.0.20240406
